/* app.css */
body {
   
    /* fixed navbar */
    padding-top: 70px;
}
  

.ya-treeview {
    font-size: inherit;
    overflow-y: scroll;
}
.wadl-method {
	width:5em;
	display:inline-block;
}
/* http://stackoverflow.com/questions/10931315/how-to-preventdefault-on-anchor-tags
*/
a{
    cursor: pointer;
}
a.anchor {
    display: block;
    position: relative;
    top: -3em;
    visibility: hidden;
}

.h100{
  height:100%;
}
/* search bar icon */
.navbar-search .search-query {
    padding-left: 29px;
}
.popwidth {
	width:44em;
}
.navbar-search .glyphicon glyphicon-search {
    position: absolute;
    top: 7px;
    left: 11px;
}
.media {
  margin-top:0px;
}
.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}

/* http://dylemma.io/post/4 */
.navbar-fixed-top {
    margin-bottom: 4px;
}

tabset .nav {
 margin-bottom:0px;
}
 
.ace_editor_wrapper { 
      position : relative; height: 100%
}
 
.ace_editor {
top: 0;
bottom: 0;
right: 0;
left: 0;;
} 
.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}
#kbshortcutmenu ,#ace_settingsmenu{
 max-width:60%;
}
/* angular bootstrap fix */
.nav, .pagination, .carousel a {
         cursor: pointer;
}
.applist{
	width:200px;height:200px;margin:1em;
	background-color:cornsilk;
}

.layout-mock .ui-splitbar{
   border-style: solid;
    border-color: #EEE;
    border-width:thin medium;
}
.selectedNode {
  background-color: #aaddff;
  font-weight: bold;
}
.navbar-nav .btn {
	  margin: 2px;
}
.ya-treeview a.nav {
	font-size:inherit !important;
}
.qd-model{
	height:120px;
	overflow:hidden;
}
/* cvabar override */
ol.qd-crumb {
    padding-bottom: 0;
    padding-top: 0;
}